<div id="narratorConsole">
  <pre>
                                                    ▄█   ▄█▄ ███    █▄                                  
                                                    ███ ▄███▀ ███    ███                                 
                                                    ███▐██▀   ███    ███                                 
                                                  ▄█████▀    ███    ███                                 
                                                  ▀▀█████▄    ███    ███                                 
                                                    ███▐██▄   ███    ███                                 
                                                    ███ ▀███▄ ███    ███                                 
                                                    ███   ▀█▀ ████████▀                                  
                                                    ▀                                                    
                            ▄████████    ▄█    █▄     ▄█     █▄     ▄████████  ▄█          ▄████████       
                            ███    ███   ███    ███   ███     ███   ███    ███ ███         ███    ███       
                            ███    █▀    ███    ███   ███     ███   ███    ███ ███         ███    █▀        
                            ███         ▄███▄▄▄▄███▄▄ ███     ███   ███    ███ ███        ▄███▄▄▄           
                            ███        ▀▀███▀▀▀▀███▀  ███     ███ ▀███████████ ███       ▀▀███▀▀▀           
                            ███    █▄    ███    ███   ███     ███   ███    ███ ███         ███    █▄        
                            ███    ███   ███    ███   ███ ▄█▄ ███   ███    ███ ███▌    ▄   ███    ███       
                            ████████▀    ███    █▀     ▀███▀███▀    ███    █▀  █████▄▄██   ██████████       
                            ▄██████▄   ▄██████▄      ███        ▄█    █▄    ▀▄█   ▄████████    ▄████████ 
                            ███    ███ ███    ███ ▀█████████▄   ███    ███   ███  ███    ███   ███    ███ 
                            ███    █▀  ███    ███    ▀███▀▀██   ███    ███   ███▌ ███    █▀    ███    ███ 
                          ▄███        ███    ███     ███   ▀  ▄███▄▄▄▄███▄▄ ███▌ ███          ███    ███ 
                          ▀▀███ ████▄  ███    ███     ███     ▀▀███▀▀▀▀███▀  ███▌ ███        ▀███████████ 
                            ███    ███ ███    ███     ███       ███    ███   ███  ███    █▄    ███    ███ 
                            ███    ███ ███    ███     ███       ███    ███   ███  ███    ███   ███    ███ 
                            ████████▀   ▀██████▀     ▄████▀     ███    █▀    █▀   ████████▀    ███    █▀  
                                                           
  </pre>
  <ul>
    <li>Nowa gra</li>
    <li>Wczytaj</li>
  </ul>
</div>
