#narratorConsole{
    padding-top: 10px;
    position: relative;
    background-color:black;
    color: chartreuse;
    text-align: center;
    white-space: wrap;
    overflow: auto;
    font-size: 11px;
}
ul, ul li{
    list-style-type: none;
    cursor: pointer;
}
pre{
    color: chartreuse;
    text-align: center;
    font-size: 3px;
}