<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper">
  <div id="narratorConsole">
    <app-narrator-console></app-narrator-console>
  </div>
  <div id="equipment">
    <app-equipment></app-equipment>
  </div>
  <div id="questLogAndOthers">
    <app-quest-log-and-others></app-quest-log-and-others>
  </div>
  <div id="backgroundPhotos">
    <app-background-photos></app-background-photos>
  </div>
  <div id="playerConsole">
    <app-player-console></app-player-console>
  </div>
</div>
<router-outlet></router-outlet>
