<!--The content below is only a placeholder and can be replaced.-->
<div id="narratorConsole" style="">
  <h1>
    <p>{{title}}</p>
    Welcome to your nightmare!
  </h1>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/d6hoxOKQOMI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
</div>
<div id="backgroundPhotos">
  <img width="300" alt="Gothic" src="https://i.ytimg.com/vi/TTeWyUM6Idk/maxresdefault.jpg">
</div>
<div id="playerConsole">
  <img width="300" alt="Gothic" src="https://www.madvulture.de/G3AEE/hero_xmas_2011.jpg">
</div>
<div id="equipment">
  <img width="300" alt="Gothic" src="https://icdn.2cda.pl/vid/oryginalne/13031d45e3c75cd4a36afc04c9e69c15b044d5d8b6cd04bea415bb0226f9d81f-31.jpg">
</div>
<div id="questLogAndOthers">
  <img width="300" alt="Gothic" src="https://icdn.2cda.pl/vid/oryginalne/13031d45e3c75cd4a36afc04c9e69c15b044d5d8b6cd04bea415bb0226f9d81f-31.jpg">
</div>
<router-outlet></router-outlet>
