<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper">
  <div id="narratorConsole">
    <h1 dir-terminal-type="">
      Konsola narratoraffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
    </h1>
  </div>
  <div id="equipment">
    Ekwipunek
    <img src="https://icdn.2cda.pl/vid/oryginalne/13031d45e3c75cd4a36afc04c9e69c15b044d5d8b6cd04bea415bb0226f9d81f-31.jpg" height="200px" width="200px"/>
  </div>
  <div id="questLogAndOthers">
    Dziennik zadan, ustawienia, itp.
    <img src="https://icdn.2cda.pl/vid/oryginalne/13031d45e3c75cd4a36afc04c9e69c15b044d5d8b6cd04bea415bb0226f9d81f-31.jpg" height="200px" width="200px"/>
  </div>
  <div id="backgroundPhotos">   
    Zdjecie dla klimatu
    <img src="https://icdn.2cda.pl/vid/oryginalne/13031d45e3c75cd4a36afc04c9e69c15b044d5d8b6cd04bea415bb0226f9d81f-31.jpg" height="200px" width="200px"/>
  </div>
  <div id="playerConsole">
    Konsola gracza
  </div>
</div>
<router-outlet></router-outlet>
