/* You can add global styles to this file, and also import other style files */
body{
    background-color: black;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}
div{
    margin: 0 auto;
    text-align: center;
    white-space: pre-line;
}

#wrapper{
    width: 800px;
    height: 600px;
    overflow: hidden;
}
#narratorConsole{
    float: left;
    height: 300px;
    width: 500px;
    background-color: aqua;
}
#backgroundPhotos{
    float: left;
    height: 150px;
    width: 500px;
    background-image: url("https://cache.desktopnexus.com/thumbseg/29/29652-bigthumbnail.jpg");
    background-color: blue;
}
#playerConsole{
    float: left;
    height: 150px;
    width: 500px;
}
#equipment{
    float: right;
    height: 300px;
    width: 300px;
    background-color: wheat;
}
#questLogAndOthers{
    float: right;
    height: 300px;
    width: 300px;
    background-color: tomato;
}